* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0vh;
    z-index: 5;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 10px 6px -6px #777;
    div.top {
      width: 1200px;
      nav {
        display: flex;
        justify-content: space-between;
        div {
          h2 {
            color: #448899;
            font-size: 30px;
            cursor: pointer;
          }
        }
        div {
          ul {
            display: flex;
            justify-content: space-between;
            li {
              list-style-type: none;
              text-decoration: none;
              font-size: 16px;
              padding: 10px;
              cursor: pointer;
            }
            & #signout-button {
              display: none;
            }
          }
        }
      }
    }
  }
  div.signin-layer {
    // border: solid 3px red;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    background-color: rgba(rgb(0, 0, 0), 0.4);
    div.signin-form {
      // border: solid 3px orange;
      width: 340px;
      position: absolute;
      top: 80px;
      background-color: white;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      div.top-decorator {
        width: 100%;
        height: 10px;
        background: linear-gradient(270deg, #337788 0%, #66aabb 100%);
      }
      div.form-content {
        position: relative;
        width: 90%;
        padding: 15px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        div.cancel {
          position: absolute;
          right: 0;
          img {
            content: url("../images/x-img.png");
            width: 16px;
            height: 16px;
            cursor: pointer;
          }
        }
        div.content-title {
          font-size: 24px;
          font-weight: bold;
          padding: 5px 0px;
        }
        div.form-input {
          border: 1px solid #cccccc;
          border-radius: 5px;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          margin: 5px 0px;
          input {
            position: relative;
            left: 15px;
            border: none;
            outline: none;
            font-size: 16px;
            line-height: 16px;
            &::placeholder {
              font-size: 16px;
            }
            &:-webkit-autofill {
              -webkit-background-clip: text;
            }
          }
          &.form-button {
            background-color: #337788;
            border: none;
            color: white;
            font-size: 19px;
            justify-content: center;
            cursor: pointer;
          }
        }
        div.form-response {
          padding: 5px 0px;
        }
        div.form-hint {
          color: #666666;
          padding: 5px 0px;
          cursor: pointer;
        }
      }
    }
  }
  section.hero {
    // border: solid orange 3px;
    position: relative;
    height: 320px;
    div.hero-image {
      height: 480px;
      background-image: url("../images/welcome-image.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      z-index: -10;
    }
    div.hero-main {
      //   border: solid orange 3px;
      position: absolute;
      height: 50%;
      top: 25%;
      width: 100%;
      left: 0%;
      margin: 10px;
      display: flex;
      justify-content: center;
      div.hero-main-content {
        // border: solid blue 3px;
        position: relative;
        width: 1200px;
        color: white;
        div.hero-main-text {
          // border: solid red 3px;
          height: 50%;
          position: relative;
          div.slogan-main {
            // border: solid red 3px;
            font-size: 28px;
            font-weight: bold;
          }
          div.slogan-sub {
            position: absolute;
            font-size: 16px;
            font-weight: bold;
            bottom: 0px;
          }
        }
        div.search {
          position: absolute;
          // border: solid blue 3px;
          height: 46px;
          width: 100%;
          top: 100px;
          div.search-bar {
            position: relative;
            display: flex;
            //   border: solid orange 3px;
            height: 100%;
            width: 460px;
            background-color: white;
            border-radius: 5px;
            overflow: hidden;
            div.search-input {
              // border: solid orange 3px;
              width: 100%;
              input {
                // border: solid orange 3px;
                position: absolute;
                border: none;
                outline: none;
                width: 80%;
                left: 15px;
                top: 13px;
                font-size: 16px;
                line-height: 16px;
              }
              ::placeholder {
                font-size: 16px;
                font-weight: bold;
              }
            }
            div.magnifier {
              position: absolute;
              background-color: #448899;
              width: 60px;
              height: 100%;
              right: 0px;
              border-radius: 0px 5px 5px 0px;
              background-image: url(../images/magnifier.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 30px 30px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  main {
    // border: solid blue 3px;
    // height: 966px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    //
    //
    // index.html
    //
    //
    section.main {
      //   border: solid green 3px;
      width: 1200px;
      height: 100%;
      padding: 40px 0px 40px 0px;
      div.list-bar {
        // border: solid red 3px;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        div.left {
          // border: solid red 3px;
          height: 50px;
          padding: 9px 0px 9px 15px;
          img {
            opacity: 50%;
            width: 32px;
            height: 32px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              opacity: 100%;
            }
          }
        }
        div.mrt-list {
          //   border: solid orange 3px;
          width: 1106px;
          height: 50px;
          white-space: nowrap;
          overflow-x: hidden;
          overflow-y: hidden;
          display: flex;
          align-items: center;
          //   padding: 13px 10px 13px 10px;
          div.mrt-text-container {
            // border: solid blue 3px;
            display: flex;
            transition: all 0.3s ease;
            div.mrt-text {
              // border: solid blue 3px;
              color: #666666;
              padding: 5px 15px 5px 15px;
              &:hover {
                color: black;
                cursor: pointer;
              }
            }
          }
        }
        div.right {
          // border: solid red 3px;
          height: 50px;
          padding: 9px 15px 9px 0px;
          img {
            opacity: 50%;
            width: 32px;
            height: 32px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              opacity: 100%;
            }
          }
        }
      }
      div.attractions {
        // border: solid purple 3px;
        width: 100%;
        // height: 816px;
        padding: 15px;
        div.attractions-group {
          //   border: solid yellow 3px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          gap: 30px;
          div.attraction {
            position: relative;
            border: solid #e8e8e8 1px;
            border-radius: 5px;
            overflow: hidden;
            height: 242px;
            width: 23.04%;
            cursor: pointer;
            &:hover {
              background-color: #d6d6d6;
              opacity: 90%;
            }
            div.attraction-img {
              //   border: solid blue 1px;
              width: 100%;
              height: 197px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            div.attraction-name {
              //   border: solid green 1px;
              width: 100%;
              height: 40px;
              position: absolute;
              top: 157px;
              background-color: black;
              opacity: 60%;
              display: flex;
              align-items: center;
              padding: 10px;
              div.attraction-name-text {
                // border: solid red 1px;
                width: 100%;
                color: white;
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
            div.attraction-info {
              //   border: solid orange 1px;
              width: 100%;
              height: 45px;
              padding: 10px;
              display: flex;
              div.attraction-info-mrt {
                // border: solid green 1px;
                height: 100%;
                flex: 1;
                display: flex;
                align-items: center;
                div.attraction-info-mrt-name {
                  //   border: solid orange 1px;
                  color: #757575;
                }
              }
              div.attraction-info-category {
                // border: solid yellowgreen 1px;
                height: 100%;
                flex: 1;
                display: flex;
                align-items: center;
                position: relative;
                div.attraction-info-category-name {
                  position: absolute;
                  //   border: solid orange 1px;
                  color: #757575;
                  right: 0px;
                }
              }
            }
          }
          div.error {
            font-weight: bold;
          }
        }
      }
    }
    //
    //
    // attraction.html
    //
    //
    section.attraction-page {
      // border: solid green 3px;
      width: 1200px;
      div.attraction-top {
        // border: solid orange 3px;
        height: 100px;
      }
      div.attraction-content {
        // border: solid red 3px;
        div.attraction-profile {
          // border: solid blue 3px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          div.attraction-images {
            // border: solid green 3px;
            position: relative;
            align-items: center;
            display: flex;
            width: 49%;
            height: 400px;
            div.image-list {
              height: 100%;
              overflow-x: hidden;
              display: flex;
              border-radius: 5px;
              div.image-container {
                display: flex;
                transition: all 0.3s ease;
                div.profile-image {
                  // border: yellowgreen solid 3px;
                  height: 100%;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
              }
            }
            div.image-scroll-button {
              width: 100%;
              height: 36px;
              position: absolute;
              display: flex;
              div.image-left {
                position: absolute;
                left: 1%;
                img {
                  opacity: 50%;
                  width: 36px;
                  height: 36px;
                  cursor: pointer;
                  transition: all 0.3s ease;
                  &:hover {
                    opacity: 100%;
                  }
                }
              }
              div.image-right {
                position: absolute;
                right: 1%;
                img {
                  opacity: 50%;
                  width: 36px;
                  height: 36px;
                  cursor: pointer;
                  transition: all 0.3s ease;
                  &:hover {
                    opacity: 100%;
                  }
                }
              }
            }
            div.image-dots {
              // border: solid 1px blue;
              width: 100%;
              bottom: 1%;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              div.image-dot-group {
                // border: solid 1px red;
                display: flex;
                justify-content: space-between;
                // height: 15px;
                background-color: rgba(rgb(0, 0, 0), 0.2);
                border-radius: 10px;
                padding: 3px 2px;
                div.image-dot {
                  background-color: #dedede;
                  border-radius: 50%;
                  height: 12px;
                  width: 12px;
                  margin: 0px 3px;
                  opacity: 50%;
                  cursor: pointer;
                }
              }
            }
          }
          div.attraction-reservation {
            // border: solid red 3px;
            width: 49%;
            // height: 400px;
            display: flex;
            flex-direction: column;
            div.attraction-title {
              flex: 1;
              div.attraction-name {
                font-size: 24px;
                font-weight: bold;
                padding: 5px 0px;
              }
              div.attraction-category-mrt {
                font-size: 16px;
                padding: 5px 0px;
              }
            }
            div.reservation-form {
              height: 100%;
              background-color: #e8e8e8;
              border-radius: 5px;
              margin: 10px 0px;
              padding: 15px 20px;
              display: flex;
              flex-direction: column;
              div.reservation-title {
                font-weight: bold;
                padding: 10px 0px;
              }
              div.reservation-content {
                padding: 10px 0px;
              }
              div.reservation-date {
                padding: 10px 0px;
                display: flex;
                align-items: baseline;
                div.date-text {
                  font-weight: bold;
                  margin-right: 10px;
                }
                input.input-date {
                  border: none;
                  position: relative;
                  display: flex;
                  height: 35px;
                  font-size: 16px;
                  &:focus {
                    outline: none;
                  }
                }
              }
              div.reservation-time {
                padding: 10px 0px;
                display: flex;
                div.time-text {
                  font-weight: bold;
                  margin-right: 10px;
                }
                div.time-selection {
                  display: flex;
                  input {
                    appearance: none;
                    border-radius: 50%;
                    width: 22px;
                    height: 22px;
                    background-color: white;
                    transition: 0.2s all linear;
                    &:checked {
                      background-color: #448899;
                      border: 2px white solid;
                    }
                  }
                  label {
                    margin: 0px 5px;
                  }
                  input.selection-afternoon {
                    margin-left: 10px;
                  }
                }
              }
              div.reservation-fee {
                padding: 10px 0px;
                display: flex;
                div.fee-title {
                  font-weight: bold;
                  margin-right: 10px;
                }
              }
              div.reservation-button {
                padding: 10px 0px;
                display: flex;
                align-items: center;
                div.booking-button {
                  background-color: #448899;
                  color: white;
                  font-size: 19px;
                  padding: 5px 15px;
                  border-radius: 5px;
                  cursor: pointer;
                }
                div.booking-result {
                  padding: 0px 20px;
                  font-weight: bold;
                }
              }
            }
          }
        }
        hr.separator {
          border: 1px solid #e8e8e8;
          margin: 30px 0px;
        }
        div.attraction-info {
          div.info-content {
            padding: 10px 0px;
          }
          div.info-address {
            padding: 10px 0px;
            div.address-title {
              font-weight: bold;
            }
          }
          div.info-transport {
            padding: 10px 0px;
            div.transport-title {
              font-weight: bold;
            }
          }
        }
      }
    }
    //
    //
    // booking.html
    //
    //
    section.booking-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      div.booking-content {
        width: 1000px;
        div.booking-top {
          height: 100px;
        }
        div.bookings {
          div.booking-title {
            font-size: 19px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          div.booking {
            display: none;
            padding: 10px;
            position: relative;
            flex-wrap: wrap;
            div.booking-image {
              width: 266px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            div.booking-info {
              // width: 700px;
              margin-left: 30px;
              div.flex {
                display: flex;
                align-items: center;
                margin: 10px 0px;
              }
              div.title {
                font-weight: bold;
                margin-right: 5px;
              }
              div.booking-info-title {
                font-weight: bold;
                color: #448899;
                margin-bottom: 10px;
              }
            }
            div.booking-delete {
              position: absolute;
              right: 0%;
              top: 0%;
              img {
                width: 30px;
                height: 30px;
                cursor: pointer;
              }
            }
          }
        }
      }
      hr.separator {
        border: 1px solid #e8e8e8;
        margin: 30px 0px;
        width: 1200px;
        display: none;
      }
      div.contact-info {
        display: none;
        width: 1000px;
        padding: 0px 10px;
        div.flex {
          display: flex;
          align-items: center;
          margin: 10px 0px;
        }
        input {
          position: relative;
          border: 1px solid #e8e8e8;
          border-radius: 5px;
          outline: none;
          font-size: 16px;
          line-height: 16px;
          height: 38px;
          padding-left: 10px;
          &::placeholder {
            font-size: 16px;
          }
          &:-webkit-autofill {
            -webkit-background-clip: text;
          }
        }
        div.contact-info-title {
          font-size: 19px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        div.contact-notice {
          font-weight: bold;
        }
      }
      div.card-info {
        width: 1000px;
        padding: 0px 10px;
        display: none;
        div.flex {
          display: flex;
          align-items: center;
          margin: 10px 0px;
        }
        input {
          position: relative;
          border: 1px solid #e8e8e8;
          border-radius: 5px;
          outline: none;
          font-size: 16px;
          line-height: 16px;
          height: 38px;
          padding-left: 10px;
          &::placeholder {
            font-size: 16px;
          }
          &:-webkit-autofill {
            -webkit-background-clip: text;
          }
        }
        div.card-info-title {
          font-size: 19px;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
      div.confirm-info {
        width: 1000px;
        position: relative;
        display: none;
        div.flex {
          display: flex;
          align-items: center;
          justify-content: right;
          margin: 20px 0px;
        }
        div.confirm-fee {
          font-weight: bold;
        }
        div.confirm-area {
          div.confirm-area-button {
            background-color: #448899;
            color: white;
            font-size: 19px;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
  footer {
    min-height: 104px;
    background-color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    div.text {
      color: white;
      font-weight: bold;
    }
  }
}
//
//
// index.html
//
//
@media (min-width: 601px) and (max-width: 1200px) {
  body {
    header {
      div.top {
        width: 90vw;
      }
    }
    section.hero {
      div.hero-main {
        div.hero-main-content {
          width: 90vw;
        }
      }
    }
    main {
      section.main {
        width: 90vw;
        div.attractions {
          div.attractions-group {
            div.attraction {
              width: 47%;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 600px) {
  body {
    header {
      div.top {
        width: 90vw;
      }
    }
    section.hero {
      div.hero-image {
        background-position: -825px -150px;
      }
      div.hero-main {
        div.hero-main-content {
          width: 90vw;
          div.search {
            div.search-bar {
              width: 285px;
            }
          }
        }
      }
    }
    main {
      section.main {
        width: 90vw;
        div.attractions {
          div.attractions-group {
            div.attraction {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
//
//
// attraction.html
//
//
@media (min-width: 881px) and (max-width: 1200px) {
  body {
    header {
      div.top {
        width: 95vw;
      }
    }
    main {
      section.attraction-page {
        width: 95vw;
      }
    }
  }
}
@media (min-width: 601px) and (max-width: 880px) {
  body {
    header {
      div.top {
        width: 95vw;
      }
    }
    main {
      section.attraction-page {
        width: 99vw;
        div.top {
          height: 53px;
        }
        div.attraction-content {
          div.attraction-profile {
            div.attraction-images {
              width: 100%;
            }
            div.attraction-reservation {
              width: 100%;
              padding: 20px 20px;
            }
          }
          hr.seperator {
            margin-top: 10px;
          }
          div.attraction-info {
            padding: 0px 20px;
          }
        }
      }
    }
  }
}
@media (min-width: 551px) and (max-width: 600px) {
  body {
    header {
      div.top {
        width: 95vw;
      }
    }
    main {
      section.attraction-page {
        width: 97vw;
        div.top {
          height: 53px;
        }
        div.attraction-content {
          div.attraction-profile {
            div.attraction-images {
              width: 100%;
            }
            div.attraction-reservation {
              width: 100%;
              padding: 20px 20px;
            }
          }
          hr.seperator {
            margin-top: 10px;
          }
          div.attraction-info {
            padding: 0px 20px;
          }
        }
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 550px) {
  body {
    header {
      div.top {
        width: 95vw;
      }
    }
    main {
      section.attraction-page {
        width: 97vw;
        div.top {
          height: 53px;
        }
        div.attraction-content {
          div.attraction-profile {
            div.attraction-images {
              width: 100%;
            }
            div.attraction-reservation {
              width: 100%;
              padding: 20px 20px;
            }
          }
          hr.seperator {
            margin-top: 10px;
          }
          div.attraction-info {
            padding: 0px 20px;
          }
        }
      }
    }
  }
}
//
//
// booking.html
//
//
@media (min-width: 701px) and (max-width: 1000px) {
  body {
    main {
      section.booking-page {
        width: 100%;
        div.booking-content {
          width: 95%;
        }
        div.contact-info {
          width: 95%;
        }
        div.card-info {
          width: 95%;
        }
        div.confirm-info {
          width: 95%;
        }
      }
    }
  }
}
@media (min-width: 360px) and (max-width: 700px) {
  body {
    main {
      section.booking-page {
        width: 100%;
        div.booking-content {
          width: 95%;
          div.bookings {
            div.booking {
              div.booking-image {
                width: 100%;
                height: 200px;
              }
              div.booking-info {
                margin-left: 0px;
                margin-top: 20px;
                width: 95%;
              }
              div.booking-delete {
                top: auto;
                bottom: 10px;
                right: 10px;
              }
            }
          }
        }
        div.contact-info {
          width: 95%;
        }
        div.card-info {
          width: 95%;
        }
        div.confirm-info {
          width: 95%;
        }
      }
    }
  }
}
