* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0vh;
  z-index: 5;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 10px 6px -6px #777;
}
body header div.top {
  width: 1200px;
}
body header div.top nav {
  display: flex;
  justify-content: space-between;
}
body header div.top nav div h2 {
  color: #448899;
  font-size: 30px;
  cursor: pointer;
}
body header div.top nav div ul {
  display: flex;
  justify-content: space-between;
}
body header div.top nav div ul li {
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}
body section.top {
  position: relative;
  height: 320px;
}
body section.top div.hero-image {
  height: 480px;
  background-image: url("../images/welcome-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -10;
}
body section.top div.top-main {
  position: absolute;
  height: 50%;
  top: 25%;
  width: 100%;
  left: 0%;
  margin: 10px;
  display: flex;
  justify-content: center;
}
body section.top div.top-main div.top-main-content {
  position: relative;
  width: 1200px;
  color: white;
}
body section.top div.top-main div.top-main-content div.top-main-text {
  height: 50%;
  position: relative;
}
body section.top div.top-main div.top-main-content div.top-main-text div.slogan-main {
  font-size: 28px;
  font-weight: bold;
}
body section.top div.top-main div.top-main-content div.top-main-text div.slogan-sub {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  bottom: 0px;
}
body section.top div.top-main div.top-main-content div.search {
  position: absolute;
  height: 46px;
  width: 100%;
  top: 100px;
}
body section.top div.top-main div.top-main-content div.search div.search-bar {
  position: relative;
  display: flex;
  height: 100%;
  width: 460px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
body section.top div.top-main div.top-main-content div.search div.search-bar div.search-input {
  width: 100%;
}
body section.top div.top-main div.top-main-content div.search div.search-bar div.search-input input {
  position: absolute;
  border: none;
  outline: none;
  width: 80%;
  left: 15px;
  top: 13px;
  font-size: 16px;
  line-height: 16px;
}
body section.top div.top-main div.top-main-content div.search div.search-bar div.search-input ::-moz-placeholder {
  font-size: 16px;
  font-weight: bold;
}
body section.top div.top-main div.top-main-content div.search div.search-bar div.search-input ::placeholder {
  font-size: 16px;
  font-weight: bold;
}
body section.top div.top-main div.top-main-content div.search div.search-bar div.magnifier {
  position: absolute;
  background-color: #448899;
  width: 60px;
  height: 100%;
  right: 0px;
  border-radius: 0px 5px 5px 0px;
  background-image: url(../images/magnifier.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  cursor: pointer;
}
body main {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
body main section.main {
  width: 1200px;
  height: 100%;
  padding: 40px 0px 40px 0px;
}
body main section.main div.list-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
body main section.main div.list-bar div.left {
  height: 50px;
  padding: 9px 0px 9px 15px;
}
body main section.main div.list-bar div.left img {
  opacity: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}
body main section.main div.list-bar div.left img:hover {
  opacity: 100%;
}
body main section.main div.list-bar div.mrt-list {
  width: 1106px;
  height: 50px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}
body main section.main div.list-bar div.mrt-list div.mrt-text-container {
  display: flex;
  transition: all 0.3s ease;
}
body main section.main div.list-bar div.mrt-list div.mrt-text-container div.mrt-text {
  color: #666666;
  padding: 5px 15px 5px 15px;
}
body main section.main div.list-bar div.mrt-list div.mrt-text-container div.mrt-text:hover {
  color: black;
  cursor: pointer;
}
body main section.main div.list-bar div.right {
  height: 50px;
  padding: 9px 15px 9px 0px;
}
body main section.main div.list-bar div.right img {
  opacity: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}
body main section.main div.list-bar div.right img:hover {
  opacity: 100%;
}
body main section.main div.attractions {
  width: 100%;
  padding: 15px;
}
body main section.main div.attractions div.attractions-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
body main section.main div.attractions div.attractions-group div.attraction {
  position: relative;
  border: solid #e8e8e8 1px;
  border-radius: 5px;
  overflow: hidden;
  height: 242px;
  width: 23.04%;
  cursor: pointer;
}
body main section.main div.attractions div.attractions-group div.attraction:hover {
  background-color: #d6d6d6;
  opacity: 90%;
}
body main section.main div.attractions div.attractions-group div.attraction div.attraction-img {
  width: 100%;
  height: 197px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main section.main div.attractions div.attractions-group div.attraction div.attraction-name {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 157px;
  background-color: black;
  opacity: 60%;
  display: flex;
  align-items: center;
  padding: 10px;
}
body main section.main div.attractions div.attractions-group div.attraction div.attraction-name div.attraction-name-text {
  width: 100%;
  color: white;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body main section.main div.attractions div.attractions-group div.attraction div.attraction-info {
  width: 100%;
  height: 45px;
  padding: 10px;
  display: flex;
}
body main section.main div.attractions div.attractions-group div.attraction div.attraction-info div.attraction-info-mrt {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}
body main section.main div.attractions div.attractions-group div.attraction div.attraction-info div.attraction-info-mrt div.attraction-info-mrt-name {
  color: #757575;
}
body main section.main div.attractions div.attractions-group div.attraction div.attraction-info div.attraction-info-category {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}
body main section.main div.attractions div.attractions-group div.attraction div.attraction-info div.attraction-info-category div.attraction-info-category-name {
  position: absolute;
  color: #757575;
  right: 0px;
}
body main section.main div.attractions div.attractions-group div.error {
  font-weight: bold;
}
body main section.attraction-page {
  width: 1200px;
}
body main section.attraction-page div.top {
  height: 100px;
}
body main section.attraction-page div.attraction-content div.attraction-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images {
  position: relative;
  align-items: center;
  display: flex;
  width: 49%;
  height: 400px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-list {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  border-radius: 5px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-list div.image-container {
  display: flex;
  transition: all 0.3s ease;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-list div.image-container div.profile-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-scroll-button {
  width: 100%;
  height: 36px;
  position: absolute;
  display: flex;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-scroll-button div.image-left {
  position: absolute;
  left: 1%;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-scroll-button div.image-left img {
  opacity: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-scroll-button div.image-left img:hover {
  opacity: 100%;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-scroll-button div.image-right {
  position: absolute;
  right: 1%;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-scroll-button div.image-right img {
  opacity: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: all 0.3s ease;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-scroll-button div.image-right img:hover {
  opacity: 100%;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-dots {
  width: 100%;
  bottom: 1%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-dots div.image-dot-group {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 3px 2px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images div.image-dots div.image-dot-group div.image-dot {
  background-color: #dedede;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 0px 3px;
  opacity: 50%;
  cursor: pointer;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation {
  width: 49%;
  display: flex;
  flex-direction: column;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.attraction-title {
  flex: 1;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.attraction-title div.attraction-name {
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.attraction-title div.attraction-category-mrt {
  font-size: 16px;
  padding: 5px 0px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form {
  height: 100%;
  background-color: #e8e8e8;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-title {
  font-weight: bold;
  padding: 10px 0px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-content {
  padding: 10px 0px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-date {
  padding: 10px 0px;
  display: flex;
  align-items: baseline;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-date div.date-text {
  font-weight: bold;
  margin-right: 10px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-date input.input-date {
  border: none;
  position: relative;
  display: flex;
  height: 35px;
  font-size: 16px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-date input.input-date:focus {
  outline: none;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-time {
  padding: 10px 0px;
  display: flex;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-time div.time-text {
  font-weight: bold;
  margin-right: 10px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-time div.time-selection {
  display: flex;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-time div.time-selection input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: white;
  transition: 0.2s all linear;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-time div.time-selection input:checked {
  background-color: #448899;
  border: 2px white solid;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-time div.time-selection label {
  margin: 0px 5px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-time div.time-selection input.selection-afternoon {
  margin-left: 10px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-fee {
  padding: 10px 0px;
  display: flex;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-fee div.fee-title {
  font-weight: bold;
  margin-right: 10px;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-button {
  padding: 10px 0px;
  display: flex;
}
body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation div.reservation-form div.reservation-button div.booking-button {
  background-color: #448899;
  color: white;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
body main section.attraction-page div.attraction-content hr.seperator {
  border: 1px solid #e8e8e8;
  margin: 30px 0px;
}
body main section.attraction-page div.attraction-content div.attraction-info div.info-content {
  padding: 10px 0px;
}
body main section.attraction-page div.attraction-content div.attraction-info div.info-address {
  padding: 10px 0px;
}
body main section.attraction-page div.attraction-content div.attraction-info div.info-address div.address-title {
  font-weight: bold;
}
body main section.attraction-page div.attraction-content div.attraction-info div.info-transport {
  padding: 10px 0px;
}
body main section.attraction-page div.attraction-content div.attraction-info div.info-transport div.transport-title {
  font-weight: bold;
}
body footer {
  min-height: 104px;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
body footer div.text {
  color: white;
  font-weight: bold;
}

@media (min-width: 601px) and (max-width: 1200px) {
  body header div.top {
    width: 90vw;
  }
  body section.top div.top-main div.top-main-content {
    width: 90vw;
  }
  body main section.main {
    width: 90vw;
  }
  body main section.main div.attractions div.attractions-group div.attraction {
    width: 47%;
  }
}
@media (min-width: 361px) and (max-width: 600px) {
  body header div.top {
    width: 90vw;
  }
  body section.top div.top-main div.top-main-content {
    width: 90vw;
  }
  body section.top div.hero-image {
    background-position: -825px -150px;
  }
  body section.top div.top-main div.top-main-content div.search div.search-bar {
    width: 285px;
  }
  body main section.main {
    width: 90vw;
  }
  body main section.main div.attractions div.attractions-group div.attraction {
    width: 100%;
  }
}
@media (min-width: 881px) and (max-width: 1200px) {
  body header div.top {
    width: 95vw;
  }
  body main section.attraction-page {
    width: 95vw;
  }
}
@media (min-width: 361px) and (max-width: 880px) {
  body header div.top {
    width: 95vw;
  }
  body main section.attraction-page {
    width: 99vw;
  }
  body main section.attraction-page div.top {
    height: 53px;
  }
  body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-images {
    width: 100%;
  }
  body main section.attraction-page div.attraction-content div.attraction-profile div.attraction-reservation {
    width: 100%;
    padding: 20px 20px;
  }
  body main section.attraction-page div.attraction-content hr.seperator {
    margin-top: 10px;
  }
  body main section.attraction-page div.attraction-content div.attraction-info {
    padding: 0px 20px;
  }
}/*# sourceMappingURL=style.css.map */